[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
init-connect='SET NAMES utf8mb4'
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4
skip-character-set-client-handshake
lower_case_table_names=1
innodb_buffer_pool_size=5G
